@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.nav-items img, h1, form, span, .mini-panel, .search-bar, #logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-items img{
    margin-right: 1.5rem;
}

.search-bar{
    background: #f8f8f8;
    padding: 5px 10px;
    min-width: 600px;
    border-radius: 25px;
}

.search-bar form input{
    min-width: 600px;
    background: transparent !important;
    border: none;
}

.notification{
    padding: 5px 10px; 
    border-radius: 10px;
    max-width: 10px;
}

.container{
    align-self: start;
}

.color-yellow{
    background: #ffd644;
}

.color-yellow:hover{
    background: #fccb1d;
}

.text-orange{
    color: #fe6f36;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff7eb;
    padding: 2rem;
    border-radius: 25px;
}

.banner .link{
    align-self: flex-end;
}

.banner h2{
    font-size: 2em;
    font-weight: 500;
}


.text-muted{
    color: #555555;
}

.side-bar{
    background: #f8f8f8;
    min-width: 350px;
    align-self: start;
    padding: 20px;
    border-radius: 30px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blur{
    filter: blur(1.5rem);
}

.op-100{
    opacity: 100% !important;
}

.color-white{
    background: #ffffff;
}

.text-white{
    color: #ffffff;
}

.color-girl{
    background: #5539a3;
}

.text-yellow{
    color: #ffd644;
}

a{
    text-decoration: none;   
}

.delivery{
    padding: 1.5rem;
    font-size: 0.9em;
    border-radius: 15px;;
}

.text-bold{
    font-weight: 600;
}

.delivery-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.img-delivery{
    max-width: 80px;
    border-radius: 10px;
}

.price{
    margin-top: 4rem;
}

.choose{
    border: 1px solid #a7a7a7;
    padding: 2px 8px;
    font-size: 1.2rem;
    background: transparent;
    margin: 3px;
}

.choose-min{
    border-radius: 11px 0px 0px 11px;
}

.choose-max{
    border-radius: 0px 11px 11px 0px;
}

.checkout{
    border: none;
    padding: 20px;
    padding-right: 40px;
    font-size: 1.2rem;
    background: #ffd644;
    margin: 0px;
    border-radius: 11px 0px 0px 11px;
}

button:hover{
    opacity: 80%;
}

.btn-drop{
    color: #ffffff;
    background-color: #ff6223;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    padding: 10px 30px;
}

.header-categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.categories{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 90%;
    margin: 30px auto;
}

.active{
    background-color: #ffd444;
}

.categories-item{
    text-align: center;
    min-height: 120px;
    min-width: 70px;
    border-radius: 40px;
    padding: 8px 0px;
    margin: 0px 15px;
}

.categories-item-icon{
    padding: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.products{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    margin: 30px auto;
}

.products-item{
    font-weight: 400;
    min-width: 300px;
    min-height: 500px;
    border-radius: 30px;

}

.img-product{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 150px;
    border-radius: 30px;
    display: flex;
}

#bagel-story{
    background-image: url('../images/pexels-photo-376464.jpeg');
}

#the-estaminet{
    background-image: url('../images/pexels-photo-461198.jpeg');
}

#le-paris-dakar{
    background-image: url('../images/pexels-photo-1600711.jpeg');
}

.duration-product{
    background: #ffffff;
    max-height: 30px;
    padding: 5px 10px;
    align-self: flex-end;
    border-radius: 0px 10px 0px 0px;
}

.content-product{
    display: flex;
    align-self: center;
    justify-content: start;
    font-size: smaller;
}

.product-description{
    color: #555555;   
}

.products-item h3{
    margin-top: 10px;
    font-weight: 500;
}

footer{
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}